@model TodoIndexViewModel
@{
    ViewBag.Title = "Todo Demo";
    var TodoIndexViewModel = Model;
}
<view name="TodoIndex" outer="MainLayout" model="@TodoIndexViewModel">
    <h2>Todos</h2>
    <form method="get" class="well well-sm get-form" view="TodoIndex" model="TodoIndexViewModel">
        <input type="search"
               class="form-control"
               name="@Html.NameFor(m => m.Form.Filter)"
               bindattr-value="Form.Filter" />
        <button type="submit" class="btn btn-primary">
            Filter
        </button>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody bindattr-hidden="AnyItems" class="bg-warning text-warning">
            <tr>
                <td colspan="2" class="lead">
                    No items to display
                </td>
            </tr>
        </tbody>
        <tbody bindeach="Items" bindattr-hidden="NoItems" bindchildren="1">
            <tr>
                <td bindtext="Description"></td>
                <td>
                    <form method="post" view="TodoIndex" model="TodoIndexViewModel">
                        <input type="hidden"
                               name="@Html.NameFor(m => m.Form.ItemId)"
                               bindattr-value="Id" />
                        <button type="submit"
                                class="btn btn-sm btn-danger"
                                name="@Html.NameFor(m => m.Form.Command)"
                                value="@TodoIndexFormModel.DeleteCommand">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td colspan="2" class="text-center">
                    <form method="post" view="TodoIndex" model="TodoIndexViewModel">
                        <input type="text" class="form-control create-item-input"
                               name="@Html.NameFor(m => m.Form.Description)"
                               bindattr-value="Description"
                               placeholder="Description"
                               maxlength="30" />
                        <button type="submit"
                                class="btn btn-success"
                                name="@Html.NameFor(m => m.Form.Command)"
                                value="@TodoIndexFormModel.CreateCommand">
                            Create
                        </button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</view>